:root {
    --Orange: #FF7F1E;
    --Light_orange: #FED9BC;
    --Light_green: #2DCC70;
    --Opacogreen: #A0C28D;
    --Cyan: #1D91F3;
    --Yellow: #FFC102;
    --Red: #EE4537;
    --Gray: #929292;
}